.vscode/

/.venv2/*
!/.venv2/lib
/.venv2/lib/*
!/.venv2/lib/python2.7
/.venv2/lib/python2.7/*
!/.venv2/lib/python2.7/site-packages
/.venv2/lib/python2.7/site-packages/*
!/.venv2/lib/python2.7/site-packages/pathlib2
!/.venv2/lib/python2.7/site-packages/scandir.py

# !/.venv2/Lib/site-packages/scandir.py
# !/.venv2/Lib/site-packages/pathlib2
.venv3/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.DS_Store

